*.bin
acs/.cvsignore
acs/.svn
acs/BC.txt
acs/binary*
acs/bootfile
acs/akcert.pem
acs/akcert12.pem
acs/akeccert.pem
acs/client
acs/client12
acs/server
acs/serverbc.*
acs/clientenroll
acs/clientenroll12
acs/*.o
acs/*.log4j
acs/*.log
acstarballs
iotdemo
iotsigner